{% extends "layout.html" %}
{% block body %}
 <div class = 'container'> 
  <table>
    <thead>
    <tr>
    <th class = 'text-center'>Name (Birdies)</th>
    <th>Golfers</th>
    <th class = 'text-center'>Raw Total</th>
    </tr>
    </thead>
    {% for entry in entries %}
    <tr class = 'rows'>
      <td class='r0 text-center' font-weight: bold> {{ entry.Name }} ({{ entry.Birdies }}) </td>
      <td class='r1'> {{ entry.Golfer1 }} ({{ entry.Score1 }}), {{ entry.Golfer2 }} ({{ entry.Score2 }}), {{ entry.Golfer3 }} ({{ entry.Score3 }}), {{ entry.Golfer4 }} ({{ entry.Score4 }}), {{ entry.Golfer5 }} ({{ entry.Score5 }}), {{ entry.Golfer6 }} ({{ entry.Score6 }})  </td>
      <td class='r2 text-center'> {{ entry.raw_total }} </td>  
    </tr>
  {% endfor %}
  </table>
<div>
{% endblock %}


